### 資料查詢優化

1.每個班別分配到的教室會在每週刷新（基本上一個班別會有兩間教室輪替，偶爾會有例外）\
2.一、二年級星期一到五的活動都不太一樣\
一年級：\
``週一：操場``
``週二：教室``
``週三：美術教室``
``週四：辦公室``
``週五：辦公室`` \
二年級：\
``週一：辦公室``
``週二：教室``
``週三：美術教室``
``週四：操場``
``週五：地下室綜合教室``\

在尚未將系統數位化前，接到家長電話後需經過以下步驟：

$$詢問班級、姓名 \rightarrow 在名單中尋找該學生於課後班的班別 \rightarrow 找到這週此班別對應教室的分機號碼$$

步驟看似簡單，但在家長電話蜂擁而至時，這樣的步驟將會變得無比繁雜。

In [181]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 首先，讀進先前建立的資料檔

In [183]:
students = pd.read_csv("datasearch.csv")

了解資料的結構

In [184]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   student  205 non-null    object
 1   teacher  205 non-null    object
 2   class1   203 non-null    float64
 3   class2   205 non-null    object
 4   t_num    193 non-null    object
 5   week11   205 non-null    object
 6   week12   205 non-null    object
 7   week13   205 non-null    object
 8   week14   205 non-null    object
 9   week15   205 non-null    object
 10  week16   205 non-null    object
 11  week17   205 non-null    object
 12  week18   205 non-null    object
 13  week19   205 non-null    object
 14  week20   205 non-null    object
dtypes: float64(1), object(14)
memory usage: 24.2+ KB

創建一個只有學生姓氏的column

In [186]:
students["stu_surname"]= [x[0] for x in students["student"]]

檢查更改過後的資料

In [187]:
students

,student,teacher,class1,class2,t_num,week11,week12,week13,week14,week15,week16,week17,week18,week19,week20,stu_surname
0,劉倬安,宮菀琦,101.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,劉
1,劉宇楓,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,劉
2,王橙,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,王
3,凃言臻,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,凃
4,王蘊文,宮菀琦,103.0,一A,_0937098209,102_221,105_211,101_212,105_211,101_212,102_221,105_211,101_212,105_211,101_212,王
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,李維禹,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,李
201,鄭奇緯,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,鄭
202,李品寬,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,李
203,楊綺函,梁玲琪,605.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,楊
204,朱語倩,梁玲琪,602.0,六B,_0939068087,605_244,602_241,602_241,603_242,605_244,603_242,605_244,603_242,605_244,603_242,朱

##### 更改結果
輸入姓氏，即可將帶有其姓氏的學生列出來。\
若到了每週更新的時候，可直接更改for迴圈中的phonenumber變數（$week11 \rightarrow week12$）

In [191]:
surname = (input("輸入姓氏： "))

condition = students["stu_surname"] == surname
filtered_rows = students[condition]

if not filtered_rows.empty:

    for index, row in filtered_rows.iterrows():
        student_name = row["student"]
        classnumber = row["class2"]
        phonenumber = row["week11"]
        teacher_name = row["teacher"]
        teacher_number = str(row["t_num"])
        
        print(f"姓名：{student_name}")
        print(f"班別：{classnumber}")
        print(f"班別：{phonenumber[4:7]}")
        print(f"老師：{teacher_name}")
        print(f"老師電話：{teacher_number[1:11]}")
else:
    print("沒有符合的資料")

輸入姓氏：  許

姓名：許書萌
班別：二A
班別：228
老師：黃正雯
老師電話：0922318222
姓名：許芸芸
班別：二B
班別：226
老師：莫啟芳
老師電話：0928699748
姓名：許艾潔
班別：三B
班別：232
老師：張嘉玲
老師電話：0981560362
姓名：許馨尹
班別：四A
班別：238
老師：陳瑩如
老師電話：0912257102
姓名：許樂
班別：四B
班別：236
老師：林慧玲
老師電話：0921804592
姓名：許恒誠
班別：五A
班別：234
老師：劉芸蓉
老師電話：0963052691
姓名：許惠婷
班別：五A
班別：234
老師：劉芸蓉
老師電話：0963052691
姓名：許凰瑗
班別：五C
班別：246
老師：君琪
老師電話：an

In [ ]:
if week == 11:
    print(f"分機號碼：{"week11"[4:7]}")
elif week == 12:
    print(f"分機號碼：{students["week12"][4:7]}") 
elif week == 13:
    print(f"分機號碼：{students["week13"][4:7]}") 
elif week == 14:
    print(f"分機號碼：{students["week14"][4:7]}") 
elif week == 15:
    print(f"分機號碼：{students["week15"][4:7]}") 
elif week == 16:
    print(f"分機號碼：{students["week16"][4:7]}") 
elif week == 17:
    print(f"分機號碼：{students["week17"][4:7]}") 
elif week == 18:
    print(f"分機號碼：{students["week18"][4:7]}") 
elif week == 19:
    print(f"分機號碼：{students["week19"][4:7]}") 
elif week == 20:
    print(f"分機號碼：{students["week20"][4:7]}")